## Dependencies
node_modules/
**/node_modules/

## Builds
dist/
build/
**/dist/
**/build/
**/.vite/

## Environment
.env
.env.*
!.env.example

## Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

## OS / Editor
desktop.ini
Thumbs.db
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

## Misc
coverage/
